<!DOCTYPE html>
<html>
  <head>
    <title>Am I Done Yet?</title>
    <link rel="shortcut icon" type="image/x-icon" href="./assets/icon.ico" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./style.css"/>
    <script src="vue.min.js"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="loadedPage()"></script>
  </head>
  <body>
    <div v-bind:class="{locked: user == null}" :style="'--windowSize :' + windowMin" id="app">
        <div v-if="user == null" id="login-page">
            <h1 id="calendar-title">Calendar Counter</h1>
            <h2 id="instructions">Login to Begin</h2>
            <button class="authenticate" @click="signIn()"></button>
        </div>
        <div v-if="user != null" :style="'--backgroundColorValue :' + color" id="main-page">
            <div  class="circle">
                <div class="circle-segment first" :style="'--firstvalue :' + firstCircle"></div>
                <div class="circle-segment last" :style="'--secondvalue :' + secondCircle"></div>
            </div>
            <div v-if="stops.length > 0" id="center-text">
                <div id="time">
                    <div v-for="item in remaining" v-bind:key="item.type" class="item">
                        <h1>{{item.num}}</h1>
                        <h3>{{item.type}}</h3>
                    </div>
                </div>
                <h2 v-if="gapPrior" class="item-title">Until {{stops[currStop].title}}</h2>
                <h2 v-else class="item-title">{{stops[currStop].title}}</h2>
            </div>
            <button @click="scroll(true)"class="scroll-button scroll-down"></button>
        </div>
        
        <div v-if="user != null" :style="'--backgroundColorValue :' + colorLight" id="settings-div">
            <button @click="scroll(false)"class="scroll-button scroll-up"></button>
            <div class="header-settings">
                <button class="user-button" v-if="user == null" @click="signIn()">Authenticate</button>
                <button class="user-button right" v-if="user != null">{{user}}</button>
                <button class="user-button" v-if="user != null" @click="signOut()">Sign-Out</button>
            </div>
            <div id="color-buttons">
                <button @click="chooseColor(-1)" class="color-button strobe"></button>
                <button v-for="color in colors" @click="chooseColor(color.index)" :style="'background-color :' + color.color" class="color-button"></button>
                
            </div>
            <button class="preferences-button" v-bind:class="{savedPref: saved}" @click="saveColor">{{savedText}}</button>
            <div id="buttons-bottom">
                <a href="https://github.com/andyruwruw/Countdown-Timer" class="github"></a>
                <a href="http://andrewdanielyoung.com/" class="home"></a>
            </div>
            
        </div>

    </div>

    
    <script src="./script.js"></script>

  </body>
</html>