<!DOCTYPE html>
<html>
  <head>
    <title>Am I Done Yet?</title>
    <link rel="shortcut icon" type="image/x-icon" href="./assets/icon.ico" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./style/style_color.css"/>
    <link rel="stylesheet" href="./style/style_dayatglance.css"/>
    <link rel="stylesheet" href="./style/style_main.css"/>
    <link rel="stylesheet" href="./style/style_profile.css"/>
    <script src="./vue.min.js"></script>
    <script src="./p5.min.js"></script>
    <script src="./test.js"></script>
  </head>
  <body>
    <div v-bind:class="{locked: user == null}" :style="'--windowSize :' + windowMin" id="app">
        <div v-if="user == null" id="login-page">
            <h1 id="calendar-title">Calendar Counter</h1>
            <h2 id="instructions">Login to Begin</h2>
            <button class="authenticate" @click="signIn()"></button>
        </div>
        <div v-if="user != null" :style="'--backgroundColorValue :' + color" id="main-page">
            <div v-if="false" class="circle">
                <div class="circle-segment first" :style="'--firstvalue :' + firstCircle"></div>
                <div class="circle-segment last" :style="'--secondvalue :' + secondCircle"></div>
            </div>
            <div v-if="stops.length > 0" id="center-text">
                <div id="time">
                    <div v-for="item in remaining" v-bind:key="item.type" class="item">
                        <h1>{{item.num}}</h1>
                        <h3>{{item.type}}</h3>
                    </div>
                </div>
                <h2 v-if="gapPrior" class="item-title">Until {{stops[currStop].title}}</h2>
                <h2 v-else class="item-title">{{stops[currStop].title}}</h2>
            </div>
            <button @click="scroll(true)"class="scroll-button scroll-down"></button>
        </div>
        
        <div v-if="user != null" :style="'--settingsPage :' + settingOffset" id="settings-div">
            <button @click="scroll(false)"class="scroll-button scroll-up"></button>
            <div id="setting-pages">
                <div class="setting-page" id="info-page">
                    <button @click="settingsPage(1)"class="scroll-button scroll-right"></button>
                    <p class="event-day-title">Information</p>
                    <div class="header-settings">
                        <button class="user-button right" v-if="user != null">{{user}}</button>
                    </div>
                    <div id="buttons-bottom">
                        <a href="https://github.com/andyruwruw/Countdown-Timer" class="github"></a>
                    </div>
                </div>
                <div class="setting-page" id="events-page">
                    <button @click="settingsPage(2)"class="scroll-button scroll-right"></button>
                    <button @click="settingsPage(0)"class="scroll-button scroll-left"></button>
                    <p class="event-day-title">Day at a Glance</p>
                    <table id="day-table">
                        <tbody>
                            <tr v-for="event in day" v-bind:class="{done: currTimeMilli > event.end}">
                                <td class="event-time">{{event.start}}</td>
                                <td class="event-title">{{event.title}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="setting-page" id="color-page">
                    <button @click="settingsPage(1)"class="scroll-button scroll-left"></button>
                    <p class="event-day-title">Colors</p>
                    <div id="color-buttons">
                        <button @click="chooseColor(-1)" class="color-button strobe"></button>
                        <button v-for="color in colors" @click="chooseColor(color.index)" :style="'background-color :' + color.color" class="color-button"></button>
                    </div>
                    <button class="preferences-button" v-bind:class="{savedPref: saved}" @click="saveColor">{{savedText}}</button>
                </div>

            </div>

            
 
           

        </div>

    </div>

    <script async defer src="https://apis.google.com/js/api.js" onload="loadedPage()"></script>
    <script src="./script.js"></script>
    
  </body>
</html>