body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0;
    overflow-x: hidden;
}

:root {
    --firstValue: 0;
    --secondValue: 0;
    --windowSize: 0;
}

#timer-section {
    position: relative;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: rgb(247, 87, 87);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.178);
}

#settings-div {
    position: relative;
    display: block;
    height: 100vh;
    width: 100vw;
}

#center-text {
    z-index: 0;
    width: 100vw;
    margin: auto auto;
    padding-top: calc((100vh - calc(var(--windowSize) * .4 * 1px)) / 2);
}

#time {
    display: flex;
    width: 95vw;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.item {
    display: block;
    min-width: 50px;
    margin: 0 15px;
}

h1 {
    font-size: 3em;
    font-weight: lighter;
    margin: 0 auto;
    color: white;
}

h2 {
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    display: block;
    max-width: 40vw;
}

h3 {
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.575);
    
}

@media screen and (min-width: 530px) {
    .item {
        min-width: 100px;
    }
    h1 {
        font-size: 5em;
    }
    
    h2 {
        font-size: 3em;
    }
    
    h3 {
        font-size: .8em;
    }
}

@media screen and (min-width: 800px) {
    .item {
        min-width: 200px;
    }
    h1 {
        font-size: 10em;
    }
    
    h2 {
        font-size: 4em;
    }
    
    h3 {
        font-size: 1em;
        transform: translateY(-20px);
    }
}



.circle {
    display: block;
    position: absolute;
    overflow: hidden;
    width: calc(var(--windowSize) * .8 * 1px); 
    height: calc(var(--windowSize) * .8 * 1px); 
    margin: 0 auto;
    top: calc((100vh - calc(var(--windowSize) * .8 * 1px)) / 2);
    left: calc((100vw - calc(var(--windowSize) * .8 * 1px)) / 2);
    background-color: rgba(238, 238, 238, 0.05);

    border-radius: 100%;
}

.circle-segment { 
    overflow: hidden;
    height: 100%;
    position: absolute;
    transform: translate(0, 0) rotate(0deg) rotate(calc(var(--offset, 0) * 1deg));
    width: 50%;
    transform-origin: 100% 100%;
}

.first {
    margin-left: 50%;
}

.last {
    margin-left: 0%;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
}

.first.circle-segment:before {
    background-color: rgba(255, 255, 255, 0.137);
    content: '';
    height: 200%;
    position: absolute;
    transform: translate(-125%, -25%) rotate(calc(var(--firstvalue, 0) * 1deg));
    transform-origin: 100% 50%;
    width: 200%;
}

.last.circle-segment:before {
    background-color: rgba(255, 255, 255, 0.137);
    content: '';
    height: 200%;
    position: absolute;
    transform: translate(-125%, -25%) rotate(calc(var(--secondvalue, 0) * 1deg));
    transform-origin: 100% 50%;
    width: 200%;
}

.item-title {
    text-overflow: clip;
}

.scroll-button {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("./assets/down-arrow.png");
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(247, 87, 87, 0);
    border: 0px;
    left: calc((100vw - 40px) / 2);
    
    opacity: .2;
    transition: all .3s ease;
    transform: scale(.5, .5);
}

.scroll-button.scroll-down:hover {
    opacity: 1;
    transform: scale(1, 1);
}

.scroll-button.scroll-up:hover {
    opacity: 1;
    transform: scale(1, 1) rotate(180deg);
}

.scroll-down {
    bottom: 20px;
    filter: invert(100%);
}

.scroll-up {
    top: 20px;
    transform: rotate(180deg) scale(.5, .5);
}
