@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');

body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

:root {
    --firstValue: 0;
    --secondValue: 0;
    --windowSize: 0;
    --backgroundColorValue: rgb(87, 162, 247);
}

.locked {
    overflow: hidden;
}

#login-page {
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: RGB(112, 128, 144);
    
}

#loading {
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: rgb(30, 144, 255);
}

#main-page {
    position: relative;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: var(--backgroundColorValue, rgb(87, 162, 247));
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.205);
}

#settings-div {
    position: relative;
    display: block;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(207, 207, 207, 0.185);
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%, 25% auto;
}

#center-text {
    z-index: 0;
    width: 100vw;
    margin: auto auto;
    padding-top: calc((100vh - calc(var(--windowSize) * .5 * 1px)) / 2);
}

#time {
    display: flex;
    width: 95vw;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.item {
    display: block;
    min-width: 50px;
    margin: 0 15px;
}

h1 {
    font-size: 3em;
    font-weight: lighter;
    margin: 0 auto;
    color: white;
}

h2 {
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    display: block;
    max-width: 40vw;
}

h3 {
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.575);
    
}

@media screen and (min-width: 530px) {
    .item {
        min-width: 100px;
    }
    h1 {
        font-size: 5em;
    }
    
    h2 {
        font-size: 3em;
    }
    
    h3 {
        font-size: .8em;
    }
}

@media screen and (min-width: 800px) {
    .item {
        min-width: 200px;
    }
    h1 {
        font-size: 10em;
    }
    
    h2 {
        font-size: 4em;
    }
    
    h3 {
        font-size: 1em;
        transform: translateY(-20px);
    }
}





canvas {
    display: block;
    position: absolute;
    overflow: hidden;
    width: calc(var(--windowSize) * .8 * 1px); 
    height: calc(var(--windowSize) * .8 * 1px); 
    margin: 0 auto;
    top: calc((100vh - var(--windowSize) * .85 * 1px) / 2);
    left: calc((100vw - var(--windowSize) * .8 * 1px) / 2);
    background-color: rgba(238, 238, 238, 0.05);
    border-radius: 100%; 
}


.circle-segment { 
    overflow: hidden;
    height: 100%;
    position: absolute;
    transform: translate(0, 0) rotate(0deg) rotate(calc(var(--offset, 0) * 1deg));
    width: 50%;
    transform-origin: 100% 100%;
}

.first {
    margin-left: 50%;
}

.last {
    margin-left: 0%;
    transform-origin: 50% 50%;
    transform: rotate(180deg) translate(0px);
}

.first.circle-segment:before {
    background-color: rgba(255, 255, 255, 0.137);
    content: '';
    height: 200%;
    position: absolute;
    transform: translate(-125%, -25%) rotate(calc(var(--firstvalue, 0) * 1deg));
    transform-origin: 100% 50%;
    width: 200%;
}

.last.circle-segment:before {
    background-color: rgba(255, 255, 255, 0.137);
    content: '';
    height: 200%;
    position: absolute;
    transform: translate(-125%, -25%) rotate(calc(var(--secondvalue, 0) * 1deg));
    transform-origin: 100% 50%;
    width: 200%;
}

.item-title {
    text-overflow: clip;
}

.scroll-button {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("./assets/down-arrow.png");
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(247, 87, 87, 0);
    border: 0px;
    left: calc((100vw - 40px) / 2);
    
    opacity: .2;
    transition: all .3s ease;
    transform: scale(.5, .5);
}

.scroll-button.scroll-down:hover {
    opacity: 1;
    transform: scale(1, 1);
}

.scroll-button.scroll-up:hover {
    opacity: 1;
    transform: scale(1, 1) rotate(180deg);
}

.scroll-down {
    bottom: 20px;
    filter: invert(100%);
}

.scroll-up {
    top: 20px;
    transform: rotate(180deg) scale(.5, .5);
}

.color-button {
    --buttoncolor: rgb(0,0,0);
    display: block;
    width: 5vw;
    min-width: 80px;
    min-height: 80px;
    height: 5vw;
    border: 1px solid rgba(238, 238, 238, 0.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
    transition: all .2s ease;
    margin:20px;
    border-radius: 5px;
    background-color: var(--buttoncolor);
}

.color-button:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.185);
}

#color-buttons {
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;

}

.user-name {
    display: block;
    width: 40vw;
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.205);
    border: 1px solid rgba(0, 0, 0, 0.384);
    border-radius: 5px;
    font-size: 1em;
    height: 50px;
    color: black;
}

.user-button {
    display: block;
    width: 40vw;
    max-width: 400px;
    min-width: 200px;
    background-color: rgba(235, 235, 235, 0.473);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.055);
    border: 0px solid rgba(3, 3, 3, 0.137);
    border-radius: 5px;
    height: 70px;
    font-size: 1.6em;
    color: black;
    transition: all .2s ease;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.preferences-button {
    display: block;
    width: 40vw;
    border-radius: 5px;
    height: 70px;
    color: black;
    transition: all .2s ease;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-size: 1.6em;
    margin: 0 auto;
    max-width: 300px;
    max-height: 150px;
    border: 0px;
    margin-top: 35px;
    background-color: rgba(164, 201, 235, 0.637);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.055);
}

.savedPref {
    background-color: rgba(224, 224, 224, 0.623) !important;
    color: rgb(197, 197, 197);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.055);
}

.preferences-button:hover {
    background-color: rgb(89, 139, 248);
    color: white;
}
.user-button:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);
}
.right {
    margin-right: 20px;
}

.header-settings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    align-items: center;
}

.strobe {
    animation: strobe-colors 4s ease 0s infinite;
}

@keyframes strobe-colors {
    0% {
        background-color: rgb(216, 76, 76);
    }
    25% {
        background-color: rgb(216, 216, 76);
    }
    50% {
        background-color: rgb(66, 154, 42);
    }
    75% {
        background-color: rgb(216, 216, 76);
    }
    100% {
        background-color: rgb(216, 76, 76);
    }
}



#calendar-title {
    font-size: 7em;
    padding-top: 23vh;
    margin-bottom: 30px;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.219);
    transition: all .5s ease;
}

#calendar-title:hover {
    transform: scale(1.2, 1.2) rotate(2deg) translateY(-20px);
    text-shadow: 10px 4px 5px rgba(0, 0, 0, 0.199);
}


#instructions {
    display: none;
    margin: 0 auto;
    font-size:3em;
    color: rgba(255, 255, 255, 0.541);
}

.authenticate {
    background-image: url("./assets/google.png");
    background-size: 100% 100%;
    background-position: center;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.11);
    transition: all .2s ease;
}

.authenticate:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.11);
    background-color: white;
}

#buttons-bottom {
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 20px;
    height: 45px;
    display: flex;
    justify-content: center;
}

a {
    width: 40px;
    height: 40px;
    display: block;
    background-size: 100% 100%;
    opacity: .3;
    filter: grayscale(80%);
    margin: 0 8px;
    transition: all .5s ease;
}

a:hover {
    animation: spin .5s ease;
    filter: grayscale(0%);
    transform: scale(1.2, 1.2);
    opacity: 1;

}

.github {
    background-image: url("./assets/github.png");
    
}

.home {
    background-image: url("./assets/home.png");
}

@keyframes spin {
    0% {
        opacity: .3;
        filter: grayscale(80%);
        transform: scale(1, 1) rotate(0deg);
        
    }
    100% {
        opacity: 1;
        filter: grayscale(0%);
        transform: scale(1.2, 1.2) rotate(360deg);
        opacity: 1;
    }
}