body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0;
    overflow-x: hidden;
}

:root {
    --firstValue: 0;
    --secondValue: 0;
    --windowSize: 0;
    --backgroundColorValue: rgb(247, 87, 87);
}

#main-page {
    position: relative;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: var(--backgroundColorValue, rgb(247, 87, 87));
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.205);
}

#settings-div {
    position: relative;
    display: block;
    min-height: 100vh;
    width: 100vw;
}

#center-text {
    z-index: 0;
    width: 100vw;
    margin: auto auto;
    padding-top: calc((100vh - calc(var(--windowSize) * .5 * 1px)) / 2);
}

#time {
    display: flex;
    width: 95vw;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.item {
    display: block;
    min-width: 50px;
    margin: 0 15px;
}

h1 {
    font-size: 3em;
    font-weight: lighter;
    margin: 0 auto;
    color: white;
}

h2 {
    margin: 0 auto;
    margin-top: 30px;
    color: white;
    display: block;
    max-width: 40vw;
}

h3 {
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.575);
    
}

@media screen and (min-width: 530px) {
    .item {
        min-width: 100px;
    }
    h1 {
        font-size: 5em;
    }
    
    h2 {
        font-size: 3em;
    }
    
    h3 {
        font-size: .8em;
    }
}

@media screen and (min-width: 800px) {
    .item {
        min-width: 200px;
    }
    h1 {
        font-size: 10em;
    }
    
    h2 {
        font-size: 4em;
    }
    
    h3 {
        font-size: 1em;
        transform: translateY(-20px);
    }
}



.circle {
    display: block;
    position: absolute;
    overflow: hidden;
    width: calc(var(--windowSize) * .8 * 1px); 
    height: calc(var(--windowSize) * .8 * 1px); 
    margin: 0 auto;
    top: calc((100vh - calc(var(--windowSize) * .85 * 1px)) / 2);
    left: calc((100vw - calc(var(--windowSize) * .8 * 1px)) / 2);
    background-color: rgba(238, 238, 238, 0.05);
    border-radius: 100%;
}


.circle-segment { 
    overflow: hidden;
    height: 100%;
    position: absolute;
    transform: translate(0, 0) rotate(0deg) rotate(calc(var(--offset, 0) * 1deg));
    width: 50%;
    transform-origin: 100% 100%;
}

.first {
    margin-left: 50%;
}

.last {
    margin-left: 0%;
    transform-origin: 50% 50%;
    transform: rotate(180deg) translate(0px);
}

.first.circle-segment:before {
    background-color: rgba(255, 255, 255, 0.137);
    content: '';
    height: 200%;
    position: absolute;
    transform: translate(-125%, -25%) rotate(calc(var(--firstvalue, 0) * 1deg));
    transform-origin: 100% 50%;
    width: 200%;
}

.last.circle-segment:before {
    background-color: rgba(255, 255, 255, 0.137);
    content: '';
    height: 200%;
    position: absolute;
    transform: translate(-125%, -25%) rotate(calc(var(--secondvalue, 0) * 1deg));
    transform-origin: 100% 50%;
    width: 200%;
}

.item-title {
    text-overflow: clip;
}

.scroll-button {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("./assets/down-arrow.png");
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(247, 87, 87, 0);
    border: 0px;
    left: calc((100vw - 40px) / 2);
    
    opacity: .2;
    transition: all .3s ease;
    transform: scale(.5, .5);
}

.scroll-button.scroll-down:hover {
    opacity: 1;
    transform: scale(1, 1);
}

.scroll-button.scroll-up:hover {
    opacity: 1;
    transform: scale(1, 1) rotate(180deg);
}

.scroll-down {
    bottom: 20px;
    filter: invert(100%);
}

.scroll-up {
    top: 20px;
    transform: rotate(180deg) scale(.5, .5);
}

.color-button {
    --buttoncolor: rgb(0,0,0);
    display: block;
    width: 5vw;
    min-width: 80px;
    min-height: 80px;
    height: 5vw;
    border: 1px solid rgba(238, 238, 238, 0.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
    transform: all .3s ease;
    margin:20px;
    background-color: var(--buttoncolor);
}

.color-button:hover {
    transform: scale(1.1, 1.1);
}

#color-buttons {
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;

}

.user-name {
    display: block;
    width: 40vw;
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.205);
    border: 1px solid rgba(255, 255, 255, 0.137);
    border-radius: 5px;
    font-size: 1em;
    height: 50px;
    color: black;
}

.user-button {
    display: block;
    width: 40vw;
    max-width: 400px;
    min-width: 200px;
    background-color: rgba(235, 235, 235, 0.982);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.185);
    border: 1px solid rgba(255, 255, 255, 0.137);
    border-radius: 5px;
    height: 70px;
    font-size: 1.6em;
    color: black;
    transition: all .2s ease;
}
.user-button:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);
}
.right {
    margin-right: 20px;
}

.header-settings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    align-items: center;
}

.strobe {
    animation: strobe-colors 4s ease 0s infinite;
}

@keyframes strobe-colors {
    0% {
        background-color: rgb(216, 76, 76);
    }
    25% {
        background-color: rgb(216, 216, 76);
    }
    50% {
        background-color: rgb(66, 154, 42);
    }
    75% {
        background-color: rgb(216, 216, 76);
    }
    100% {
        background-color: rgb(216, 76, 76);
    }
}